::ng-deep{
   
    html, body {
        height: 100%;
        background-color: $background-color;
        font-family: $primary-font;
    }
    
    section.wrapper{
        padding: 50px 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
} 